.main-image {
    background-image: url("https://res.cloudinary.com/keyzen/image/upload/v1615233084/tonerKBT/toner-portada_nzgy3n.jpg");
    height:300px;
    background-position: center;
    background-clip: border-box;
    background-size: cover;

    display: flex;
    align-items: flex-end;
    align-content: center;
    text-align: center;
    justify-content: center;

    .image-titles {
        color:#fff;
        line-height: 1rem;
        h1 {
            font-size: $title;
            font-weight:900;
        }
        h2 {
            font-size: $subtitle;;
        }
    }
}