.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    overflow-x: hidden;
    padding:0 3rem;
    .nav-logo {
        width:120px;
    }

    .nav-menu {
   
        display: flex;
        align-items: center;


        a {
            text-decoration: none;
            color:#333;
            font-weight: 700;
            padding: .5rem;
        }

        img {
            width:40px;
            padding: .5rem;
        }
    }

}