
/* Fuentes */
$primary-font:'Montserrat', sans-serif;

/* Colores */
$purple:#CC1BCE;
$green:#11B46A;
$blue:#4485EE;


/* Fuentes para phone */

$title:1.5rem;
$subtitle:1.2rem;
$regular:1rem;

/* Fuentes para desktop */


$desktop-title:2rem;
$desktop-subtitle:1.5rem;
$desktop-regular:1.2rem;


/* Line height */


$lineheight: 1.5rem;
