@import 'normalize';
@import 'layout';
@import 'variables';
@import 'mediaqueries';
@import 'nav';
@import 'main-image';
@import 'main';
@import 'footer';

* {
    font-family: $primary-font;
    scroll-behavior: smooth;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.space {
    height:1000px;
}

